@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Inder", sans-serif;
}

.home {
    background-color: black;
}

img {
    margin-right: 20px;
    margin-bottom: 20px;
}

button {
    font-size: 22px;
    color: white;
    background-color: black;
    border-color: transparent;
    margin-right: 40px;
    font-family: "Inder", sans-serif;
    padding-bottom: 10px;
}

button:hover {
    color: goldenrod;
}

.header img:hover,
.programs img:hover {
    opacity: 0.6;
    cursor: pointer;
}


.certificate_programs img,
.secondary_education img {
    opacity: 0.6;
}

#banner {
    opacity: 1;
    margin-bottom: 0;
    height: 30%;
    width: 100%;
}

.label,
.header {
    color:goldenrod;
    background-color: black;
}

.cluster {
    color: black;
    background-color: goldenrod;
}

.header {
    display: flex;
    align-items: last baseline;
    gap: 20px;
}

#logo {
    display: block;
    margin-left: 10px;
    width: 40%;
    height: auto;
}


.label,
.cluster {
    margin-top: 0;
    padding: 10px;
    font-size: 28px;
}

.categories {
    background-color: white;
}

/* .categories img {
    width: 270px;
    height: 230px;
} */

.alumni img {
    opacity: 1;
    padding-top: 20px;
    padding-right: 20px;
    width: 220px;
    height: 220px;
}

.alumni img:hover {
    cursor: not-allowed;
}

